<% form_for @note, :url => player_notes_path(:player_id => player_id), :html => { :class => "standard" } do |f| %>
<ul>
  <li>
    <%= f.label :content, "Ajouter une note" %>
    <%= f.text_area :content, :size => "29x3" %>
    <%= f.hidden_field :player_id, :value => player_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </li>
  <li>
    <%= f.submit "Ajouter" %>
  </li>
</ul>  
<% end %>