<% title "Users" %>

<table>
  <tr>
    <th><%= t('loo.users.player_name') %></th>
    <th><%= t('users.email') %></th>
  </tr>
  <% for user in @users %>
  <tr>
    <td><%= link_to user.player_name, user_path(user) %></td>
    <td><%= link_to user.email, user_path(user) %></td>
  </tr>
  <% end %>
</table>

<% show_to :admin do %>
  <%= link_to t('users.add_user'), new_user_path %>
<% end %>

<p><a target="_blank" href="http://userscripts.org/scripts/show/66620">Installer le script grease monkey</a></p>