<% title "#{@user.email}" %>
<p>
  <strong><%= t('loo.users.player_name') %> </strong>: <%= "#{@user.player_name} (#{@user.matricule})"%>
</p>

<%= display_map(Landscape.first, @user, @user.perception) %>

<% if show_admin_or_current_user? %>
  <%= link_to t('users.edit'), edit_user_path(@user) %>
  <%= link_to t('loo.users.edit_sight'), edit_sight_user_path(@user) %>
<% end %>